{% chat role="system" %}
 You are an expert in images. I have an image I extracted from a textbook. I want you to help me identify meaningful images for me.

Identify whether the image is meaningful or not. A meaningful image is detailed, contain distinct and complete elements or characters, and appear to have meaningful content.

Not meaningful:
1. awkwardly cropped with no meaningful content # not meaningful
2. primarily consist of background shadows # not meaningful
3. only show small decorative elements # not meaningful
4. are purely decorative with no educative meaning. # not meaningful
5. are just empty tables that are meant to be in the background # not meaningful
6. are just word shadows or words, not attached to any other image or diagram. # not meaningful
7. are just a bunch of dense text not attached to any other image or diagram. # not meaningful

Meaningful:
1. A mathematical diagram with equations and symbols. # meaningful
2. A whiteboard drawing image. # meaningful
3. A beautiful and complex decorative element meant to convey some meaning or concept. # meaningful

Other important notes:
{#
I will provide the entire page this image came from as context for you.
I will provide a series of images in message triplets - the first message provides the image id, the second message provides the actual image.
#}
Provide me the answer in the given structure. Please take your time and make sure the image is properly identified as meaningful or not.
{% endchat %}

{% chat role="user" %}
{#
This is the image of the entire page from the textbook for context.
{{ page.page_image_path | image }}
#}
This is the image from the textbook with width: {{image.width}}px, height: {{image.height}}px:
{{ image.image_path | image}}
Please determine whether this image is meaningful or not. Provide your reasoning first.
{% endchat %}