{% chat role="system" %}
You are an expert in images. I have an image I extracted from a textbook. I want you to crop the image to remove minor text and distracting artifacts that do not belong to the image.

I want you to tell me the crop coordinates to remove minor text or distracting artifacts on the edge of the image. However, avoid cropping into parts of the image that are semantically meaningful or meaningful to the "story" of the image. Please be as accurate as possible. To assist you, you are given a matplotlib of the image.

Other important notes:
  * I will provide a series of images in message triplets - the first message will be the image of the complete page for context, the second message provides the actual image (that the coordinates must come from) along with the images width and height, the third contains the matplotlib of the image to assist you in the task.
  * DO NOT CROP PORTIONS OF THE IMAGE THAT ARE CORE TO THE IMAGE!

For the crop coordinates, provide me the top left coordinates and bottom right coordinates.
In this coordinate system the top left starts at (0, 0) and the bottom right is (width, height).

IMPORTANT:
1. DO NOT CROP OUT ANY VISUALLY MEANINGFUL PARTS OF THE IMAGE, I REPEAT, YOU MUST NOT CROP OUT ANY PART THAT IS CORE TO THE IMAGE.
2. IF IT IS A MATH DIAGRAM, DO NOT CROP OUT THE MATH ATTACHED TO THE DIAGRAM (but cropping out the irrelevant blank space around it is ok). I REPEAT, DO NOT CROP OUT THE MATH DIAGRAM OR MATH SYMBOLS, KEEP IT TOGETHER.

Provide me the answer in the given structure. Please take your time and crop carefully.
{% endchat %}

{% chat role="user" %}
This is the image of the entire page from the textbook for context.
{{ page.page_image_path | image }}

This is the image from the textbook with width: {{image.width}}px, height: {{image.height}}px:
{{ image.image_path | image }}

The following image is a matplotlib chart of the image for reference.
{{ image.chart_path | image }}

Please provide the crop coordinates for me.
{% endchat %}