<nav aria-label="Content Index Menu" aria-labelledby="navPopupTitle" class="fixed w-64 sm:w-80 bg-white shadow-lg p-5 border-r border-gray-300 transform -translate-x-full transition-transform duration-300 ease-in-out z-20 hidden rounded-lg top-2 left-0 bottom-2 h-[calc(100vh-5rem)]" id="navPopup" role="navigation">
    <div class="nav__toggle flex justify-between items-center mb-4">
        <h3 class="text-xl font-semibold" data-id="toc-title" id="navPopupTitle">Index</h3>
        <button aria-label="Cerrar navegación" class="nav__toggle text-gray-700 text-xl p-2" id="nav-close" type="button"><i class="fas fa-close"></i></button>
        <a class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-50 focus:p-4 focus:bg-white focus:border-2 focus:border-blue-600 focus:rounded" href="#content">Table of Contents</a>
    </div>
    <ol class="nav__list overflow-y-auto h-[calc(100vh-10rem)] text-base pr-2" data-id="nav-list" id="nav__list">
        {% for webpage in webpages %}
        <li class="nav__list-item">
            <a class="nav__list-link" data-text-id="{{ webpage.text_id }}" href="{{ webpage.section_id }}.html">{% with text=texts[webpage.text_id] %}{{ text.text }}{% endwith %}</a>
        </li>
        {% endfor %}
    </ol>
</nav>