<div class="container content mx-auto bg-white max-w-5xl p-5 rounded-lg shadow-lg lg:px-24 md:px-12 sm:px-6" id="content">
    <section id="simple-main" role="article" data-section-type="{{ section.section_type.name }}">
    {% for row in rows %}
        <div class="flex flex-row mb-2">
            {% for col in row.columns %}
                <div class="basis-{{ col.span }}/5 p-4 mr-2 rounded" style="color: {{ col.color }}; background-color: {{ col.background_color }};">
                    {% for part in col.parts %}
                    {% if images[part] %}
                    <img class="my-2 max-h-128" data-id="{{ part }}"></img>
                    {% elif texts[part] %}
                    <p data-id="{{ part }}">{{ texts[part] }}</p>
                    {% else %}
                    MISSING PART
                    {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </section>
</div>