<div class="container content mx-auto w-full min-h-screen px-8 py-8 flex items-center justify-center" id="content" style="background-color: {{ section.background_color }};">
    <section id="simple-main" role="article" data-section-type="{{ section.section_type.name }}" data-id="{{ section.section_id }}" {% if section.explanation_id %}data-eli5-id="{{ section.explanation_id }}"{% endif %}>
        <div class="flex flex-col lg:flex-row px-8 items-center max-w-none w-full">
            <div class="basis-full p-4 flex flex-col" style="color: {{ section.text_color }};">
                {% for part in section.part_ids %}
                {% if images[part] %}
                <!-- we started with text, close that column -->
                {% if section.part_ids[0].startswith("grp_") %}
                </div>
                <div class="basis-full p-4 flex flex-col" style="color: {{ section.text_color }};">
                {% endif %}
                <img class="mb-8 w-full rounded-lg" data-id="{{ part }}" style="max-height: 80vh; object-fit: contain;"></img>

                <!-- we started with an image, close this column -->
                {% if section.part_ids[0].startswith("img_") %}
                </div>
                <div class="basis-full p-4 flex flex-col" style="color: {{ section.text_color }};">
                {% endif %}
                
                {% else %}
                <div class="mb-8">
                {% with line_style = "inline" %}
                {% if groups[part].group_type in ["stanza", "list", "heading"] %}                            
                {% set line_style = "block" %}
                {% endif %}
                {% for text in groups[part].texts %}
                    {% if text.text_type in ['book_title', 'chapter_title'] %}
                    <h1 class="mb-6 w-full max-w-4xl font-bold text-4xl" data-id="{{ text.text_id }}">{{ text.text }}</h1>
                    {% elif text.text_type == 'section_heading' %}
                    <h2 class="mb-6 w-full max-w-4xl font-bold text-2xl" data-id="{{ text.text_id }}">{{ text.text }}</h2>
                    {% elif text.text_type == 'book_subtitle' %}
                    <h3 class="mb-6 w-full max-w-4xl font-semibold text-lg" data-id="{{ text.text_id }}">{{ text.text }}</h3>
                    {% else %}
                    <span class="leading-relaxed max-w-4xl {{ line_style }} font-normal" data-id="{{ text.text_id }}">{{ text.text }}</span>
                    {% endif %}
                {% endfor %}
                {% endwith %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>